<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">

<head layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/vxg-2.0.63/videojs-5.18.3.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/vxg-2.0.63/CloudSDK.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{|/modules/${ctrl}/${ctrl}.css|}">
</head>

<div layout:fragment="content">
    <div class="controls">
        <!-- Camera filter -->
        <button type="button" class="control" data-filter="all">All</button>
        <th:block   th:each="i : ${#numbers.sequence(1, T(Math).ceil(cameras.size() / 2))}">
            <button type="button" class="control" th:data-filter="|.camera-group-${i}|" th:text="|Group ${i}|"></button>
        </th:block>
        <button type="button" class="control" data-sort="default:asc">Asc</button>
        <button type="button" class="control" data-sort="default:desc">Desc</button>
    </div>

    <div class="row camera-monitor">
        <div th:each="c, stat : ${cameras}" th:class="|mix cameraBox col-md-6 col-lg-4 camera-group-${#numbers.formatDecimal(  T(Math).ceil(stat.index / 2) + 1, 0, 0   )}|" th:data-uid="${c.uid}" th:data-apikey="${c.apiKey}">
            <div th:text="${c.name}"></div>
            <div th:id="|player${stat.index+1}|" class="video"></div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/plugins/vxg-2.0.63/videojs-5.18.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/vxg-2.0.63/videojs-contrib-hls.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/vxg-2.0.63/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/vxg-2.0.63/moment-timezone-with-data-2012-2022.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/vxg-2.0.63/webrtc-adapter-latest.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/vxg-2.0.63/CloudSDK.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/mixitup/mixitup.min.js}"></script>
    <script th:src="@{|/modules/${ctrl}/${ctrl}.js|}"></script>
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
        let cameraMixer = mixitup('.camera-monitor'),
            categories = {};

        /*[# th:each="c, stat : ${cameras}"]*/
            categories[".camera-group-" + Math.ceil([[ ${stat.index+1} ]] / 2) ] = true;
            console.log( [[ ${stat.index+1} ]] );
            let player[[ ${stat.index+1} ]] = new CloudPlayerSDK('player[[ ${stat.index+1} ]]', {
                autohide: 3000,
                // useOnlyPlayerFormat: 'html5', // hls force enabled
                debug: false,
            });
            player[[ ${stat.index+1} ]].setSource([[ ${c.apiKey} ]]);
            player[[ ${stat.index+1} ]].play();

        /*[/]*/

        let cameraGroups = Object.keys(categories).sort(function(a,b) {
            return a.localeCompare(b);
        });
        cameraGroups.unshift("all");

        let cameraGroupPointer = 0;

        let iterator = setInterval(function(){
            cameraGroupPointer++;
            if (cameraGroupPointer >= cameraGroups.length) {
                cameraGroupPointer = 0;
            }

            if (cameraGroupPointer === 0) {
                $(".mix").remove("col-lg-6").addClass("col-lg-4");
            } else {
                $(".mix").remove("col-lg-4").addClass("col-lg-6");
            }
            cameraMixer.filter(cameraGroups[cameraGroupPointer]);
            console.log("rotate: "+ cameraGroups[cameraGroupPointer]);
            // alert("Hello");
        }, 10*1000);

        console.log(cameraGroups );
    /*]]>*/
    </script>
</th:block>

