<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-select/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/sweetalert2/sweetalert2.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{|/modules/${ctrl}/${ctrl}.css|}">
</head>
<body class="container-fluid">
<div>
    <b th:inline="text" class="user"> [[${#httpServletRequest.remoteUser}]] </b> |
    <a href="/logout" th:href="@{/logout}" th:text="#{logout}"></a> |
    <a href="?lang=ko-KR">한국어</a> |
    <a href="?lang=en-US">English</a> |
    <a href="?lang=vi-VN">Tiếng việt</a>
    <Br>
    <a th:href="@{/audit/}">audit</a> |
    <a th:href="@{/members/}">member</a> |
    <hr>

</div>

<!--/* Contents */-->
<div layout:fragment="content"></div>

<!--/* Base script */-->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script th:src="@{/plugins/bootstrap-select/js/bootstrap-select.min.js}"></script>
<script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}"></script>
<script th:src="@{/plugins/jquery-mask/jquery.mask.min.js}"></script>
<script th:src="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/formatter.js}"></script>
<script th:inline="javascript">
    let roles = {/*[# th:each="n : ${T(com.devplayg.coffee.definition.RoleType.Role).values()}"]*/"[(${n})]": "[(${n.description})]",/*[/]*/};
</script>
<script th:src="@{|/modules/${ctrl}/${ctrl}.js|}"></script>
<script layout:fragment="script"></script>
</body>
</html>
