<script type="text/javascript" th:src="@{/plugins/vxg-2.0.63/videojs-5.18.3.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/vxg-2.0.63/videojs-contrib-hls.js}"></script>
<script type="text/javascript" th:src="@{/plugins/vxg-2.0.63/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/vxg-2.0.63/moment-timezone-with-data-2012-2022.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/vxg-2.0.63/webrtc-adapter-latest.js}"></script>
<script type="text/javascript" th:src="@{/plugins/vxg-2.0.63/CloudSDK.min.js}"></script>