<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">

<div layout:fragment="content">
    <div th:id="|toolbar-${ctrl}|">
        <button class="btn btn-primary" th:text="#{cmd.add}" data-toggle="modal" th:data-target="|#modal-${ctrl}-insert|">
        </button>

        date range, category, contents, username
    </div>
    <table th:id="|table-${ctrl}|" class="table table-bordered table-hover"
           data-th-toolbar="|#toolbar-${ctrl}|"
           data-show-refresh="true"
           data-show-columns="true"
           data-pagination="true"
           data-side-pagination="client"
           data-page-size="5"
           th:data-url="@{/audit}">
        <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="member_id" data-sortable="true" th:text="#{user}"></th>
            <th data-field="category" data-sortable="true" th:text="#{category}"></th>
            <th data-field="action" data-sortable="true" th:text="#{action}"></th>
            <th data-field="ip" data-sortable="true" th:text="IP"></th>
            <th data-field="message" data-sortable="true" th:text="#{message}"></th>
            <th data-field="created" data-sortable="true" th:text="#{created}"></th>
        </tr>
        </thead>
    </table>
</div>

<th:block layout:fragment="script">
    <script th:src="@{|/modules/${ctrl}/formatter.js|}"></script>
    <script>
        /*<![CDATA[*/
        /*]]>*/
    </script>
</th:block>


