<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">

<div layout:fragment="content">
    <div th:id="|toolbar-${ctrl}|">
        <form th:id="|form-${ctrl}|" role="form" method="post" th:action="@{/audit/}" th:object="${filter}">
            <input type="hidden" name="sort" th:value="|${filter.pageable.sortName},${filter.pageable.sortOrder}|" />

            <!-- Exposed filter -->
            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group date datetime">
                        <input class="form-control mask-yyyymmddhhii" type="text" name="startDate"
                               th:value="*{#temporals.format(startDate, 'yyyy-MM-dd HH:mm')}" autocomplete="off"/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group date datetime">
                        <input class="form-control mask-yyyymmddhhii" type="text" name="endDate"
                               th:value="*{#temporals.format(endDate, 'yyyy-MM-dd HH:mm')}" autocomplete="off"/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <select name="categoryList" class="form-control selectpicker" multiple th:title="#{category}">
                        <option th:each="category, stat : ${T(com.devplayg.coffee.definition.AuditCategory).values()}"
                                th:value="${category}"
                                th:text="${category.description}"
                                th:selected="${#lists.contains(#object.categoryList, category)}"></option>
                    </select>
                    <div class="btn-group" th:if="*{fastPaging == true}">
                        <button type="button" class="btn btn-success btn-move-page btn-page-prev" data-direction="-1">&lt;</button>
                        <button type="button" class="btn btn-default btn-move-page btn-page-text" data-direction="0" disabled>1</button>
                        <button type="button" class="btn btn-success btn-move-page btn-page-next" data-direction="1">&gt;</button>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{search}"></button>
                    <a class="btn btn-default" href="" th:text="#{cancel}"></a>
                    <a href="#" data-toggle="modal" th:data-target="|#modal-${ctrl}-filter|">
                        <span class="filter"></span>
                        <span th:text="#{filter}"></span>
                    </a>
                </div>
            </div>

            <!-- Unexposed filter -->
            <div class="modal fade" th:id="|modal-${ctrl}-filter|" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">
                                <i class="fa fa-filter"></i> <span th:text="#{filter}"></span>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>IP</label>
                                <input type="text" class="form-control mask-ipv4-cidr" name="ip" th:value="*{ip}"/>
                                <p class="note">IP or IP/CIDR</p>
                            </div>
                            <div class="form-group">
                                <label th:text="#{message}"></label>
                                <input type="text" class="form-control" th:name="message" th:value="*{message}"/>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="checkbox style-0" checked="checked" th:name="fastPaging" th:checked="*{fastPaging}"/>
                                        <span th:text="#{fast-paging}"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit    " class="btn btn-primary" th:text="#{search}"></button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{cancel}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <table th:id="|table-${ctrl}|"
           th:object="${filter}"
           th:data-toolbar="|#toolbar-${ctrl}|"
           th:data-sort-name="${filter.pageable.sortName}"
           th:data-sort-order="${filter.pageable.sortOrder}">
        <!--        data-query-params-type=""-->
        <!--/*
        th:data-url="@{/audit(startDate=*{#temporals.format(startDate, 'yyyy-MM-dd HH:mm')}, endDate=*{#temporals.format(endDate, 'yyyy-MM-dd HH:mm')}, message=*{message}, categoryList=*{categoryList}     )      }">
        */-->
        <thead>
        <tr>
            <th data-field="created" data-formatter="datePrettyFormatter" data-sortable="true" data-width="225" th:text="#{created}"></th>
            <th data-field="id" data-sortable="true" data-visible="true">ID</th>
            <th data-field="member" data-formatter="auditMemberFormatter" data-sortable="true" th:text="#{user}"></th>
            <th data-field="category" data-sortable="true" th:text="#{category}"></th>
            <th data-field="ip" data-formatter="intIpFormatter" data-sortable="true" th:text="IP"></th>
            <th data-field="message" data-sortable="true" data-formatter= "auditMessageFormatter"
                th:text="#{message}"></th>
        </tr>
        </thead>
    </table>

</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let filter = [[ ${filter} ]];
        console.log(filter);
        /*]]>*/
    </script>
    <script th:src="@{|/js/custom-validate-methods.js|}"></script>
    <script th:src="@{|/js/pager.js|}"></script>

    <script th:src="@{|/modules/${ctrl}/${ctrl}.js|}"></script>
    <script th:src="@{|/modules/${ctrl}/formatter.js|}"></script>
</th:block>




