<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">

<div layout:fragment="content">
    <div th:id="|toolbar-${ctrl}|">

        <form th:id="|form-${ctrl}|">
            <div class="form-inline">
                <div class="form-group">

                    <!-- Date ranges -->
                    <div class="input-group date datetime" data-date="1979-09-16T05:25:07Z" data-date-format="yyyy-mm-dd HH:ii" data-link-field="">
                        <input class="form-control mask-yyyymmddhhii" size="17" type="text" name="start_date" value="" autocomplete="off">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                    <div class="input-group date datetime">
                        <input class="form-control mask-yyyymmddhhii" size="17" type="text" name="end_date" value="" autocomplete="off">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                    <div class="form-group">
                        <label th:text="#{category}"></label>
                        <select name="category" class="form-control selectpicker">
                            <option th:each="category, stat : ${T(com.devplayg.coffee.definition.AuditCategory).values()}"
                                    th:value="${category.code}"
                                    th:text="${category.description}"></option>
                        </select>
                    </div>

                    <!-- Buttons -->
                    <button type="submit" class="btn blue">#{search}</button>
                    <a class="btn btn-default" href="">#{cancel}</a>

<!--                    <div class="input-group btn-group btn-page-group">-->
<!--                        <button type="button" class="btn blue btn-move-page btn-prev" data-direction="-1" data-loading-text="&lt;">&lt;</button>-->
<!--                        <button type="button" class="btn blue btn-move-page btn-page-text" data-direction="0">1</button>-->
<!--                        <button type="button" class="btn blue btn-move-page btn-next" data-direction="1" data-loading-text="&gt;">&gt;</button>-->
<!--                    </div>-->
                    <a href="#" data-toggle="modal" data-target="#modal-filter"><i class="fa fa-filter icon-filter hidden font-red"></i>#{filter}</a>
                </div>
            </div>
        </form>
        date range, category, contents, username
    </div>
    <table th:id="|table-${ctrl}|" class="table table-bordered table-hover"
           data-th-toolbar="|#toolbar-${ctrl}|"
           data-show-refresh="true"
           data-show-columns="true"
           data-pagination="true"
           data-side-pagination="server"
           data-page-size="5"
           th:data-url="@{/audit}">
        <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="member_id" data-sortable="true" th:text="#{user}"></th>
            <th data-field="category" data-sortable="true" th:text="#{category}"></th>
            <th data-field="action" data-sortable="true" th:text="#{action}"></th>
            <th data-field="ip" data-sortable="true" th:text="IP"></th>
            <th data-field="message" data-sortable="true" th:text="#{message}"></th>
            <th data-field="created" data-sortable="true" th:text="#{created}"></th>
        </tr>
        </thead>
    </table>
</div>

<th:block layout:fragment="script">
    <script th:src="@{|/modules/${ctrl}/formatter.js|}"></script>
    <script>
        /*<![CDATA[*/
        /*]]>*/
    </script>
</th:block>


